.domains {
    background: linear-gradient(180deg, rgba(124, 180, 216, 0.4) 0%, rgba(191, 230, 255, 0) 100%);
    padding-top: 52px;
    position: relative;
}

.domains__background {
    position: absolute;
    top: -20px;
}

.domains__content {
    display: flex;
    justify-content: center;
}

.domains-text {
    margin-right: 40px;
    max-width: 560px;
    margin-top: 155px;
}

.domains-text__content {
    margin: 0 0 20px 0;
}

.domains-text__content:last-of-type {
    margin: 0;
}

.domains-text__button {
    padding: 7px 22.5px;
    color: #FFFFFF;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    background: #FA6232;
    box-shadow: 0px 4px 4px rgba(46, 46, 46, 0.27);
    border-radius: 5px;
    margin-top: 77px;
    border: 0;
    cursor: pointer;
}

.domains-cards {
    max-width: 580px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, max-content));
    column-gap: 20px;
    row-gap: 20px;
    justify-content: space-between;
    margin-top: 58px;
}

.domains-card {
    position: relative;
    display: flex;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(183, 183, 183, 0.43);
    border-radius: 5px;
    max-width: 240px;
    max-height: 56px;
    justify-content: space-between;
    align-items: center;
    padding: 17px 20px;
}

.domains-card:nth-child(2) {
    align-self: center;
    margin-top: 30px;
}

.domains-card:nth-child(3) {
    margin-top: -30px;
}
.domains-card:nth-child(5) {
    margin-top: -30px;
}

.domains-card:nth-child(7) {
    margin-top: -30px;
}

.domains-card:nth-child(9) {
    margin-top: -30px;
}


.domains-card__ru {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #1B567C;
    border-radius: 50%;
    padding: 10px 0 9px 19px;
    margin: 0;
    position: absolute;
}

.domains-card__price {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #3C3B3B;
    margin: 0;
    padding: 0;
}

.domains-card__year {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #3C3B3B;
    margin: -10px;
    padding: 0;
}

@media (max-width: 1200px) {
    .domains__content {
        padding-left: 5%;
        padding-right: 5%;
    }
    .domains-card__ru {
        font-size: 20px;
    }
    .domains-card__price {
        font-size: 20px;
    }
    .domains-card__year {
        font-size: 16px;
    }
}

@media (min-width: 650px) and (max-width: 1150px) {
    .domains-text {
        margin-top: 55px;
    }
    .domains-text__content {
        font-size: 16px;
    }
    .domains-cards {
        grid-template-columns: repeat(auto-fill, minmax(220px, max-content));
    }
}

@media (min-width: 320px) and (max-width: 800px) {
    .domains-text__button {
        font-size: 14px;
    }
    .domains__content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .domains-text {
        margin-top: 0;
    }
    .domains-text__button {
        margin-top: 20px;
    }
    .domains-cards {
        width: 300px;
        grid-template-columns: repeat(auto-fill, minmax(130px, max-content));
        column-gap: 10px;
    }
    .domains-card {
        padding: 7px;
        width: 130px;
    }
    .domains-card__ru {
        font-size: 12px;
    }
    .domains-card__price {
        font-size: 12px;
    }
    .domains-card__year {
        margin-top: 1px;
        font-size: 10px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {

    .domains-text {
        margin-right: 0;
    }
}