.payment {
    background: linear-gradient(180deg, rgba(124, 180, 216, 0.4) 0%, rgba(191, 230, 255, 0) 100%);
    color: #3C3B3B;
    padding-top: 293px;
    padding-bottom: 119px;
    text-align: center;
    /* margin-top: -210px; */
    z-index: 2;
}

.payment__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    margin: 0;
}

.payment__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-align: start;
    margin: 54px auto 58px 135px;
    max-width: 720px;
}

.payment__list {
    max-width: 1105px;
    margin-left: 60px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(175px, max-content));
    column-gap: 60px;
    row-gap: 58px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
}

.payment__list-li {
    max-width: 235px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.payment__list-li-base {
    margin-left: 50px;
}

.payment__list-li-img {
    margin-right: 60px;
}

.payment__list-li-line {
    border-right: 1px solid #000000;
    width: 1px;
    height: 48px;
    margin: 0;
    padding: 0;
}

@media (min-width: 650px) and (max-width: 1150px) {
    .payment {
        padding: 293px 7% 119px;
    }
    .payment__text {
        margin: 34px auto 38px 0;
    }
}

@media (min-width: 320px) and (max-width: 800px) {
    .payment {
        padding: 100px 7% 50px;
    }
    .payment__title {
        font-size: 32px;
    }
    .payment__text {
        font-size: 16px;
    }
    .payment__text {
        margin: 14px auto 18px 0; 
    }
    .payment__list {
        margin-left: 20px;
        column-gap: 20px;
        row-gap: 28px;
    }

    .payment__list-li {
        justify-content: space-between;
        border-right: 1px solid #000000;
        /* width: 150px; */
    }
    .payment__list-li-line {
        visibility: hidden;
    }

    .payment__list-li-img {
        margin-right: 20px;
    }
    .payment__list-li-base {
        margin-left: 0;
    }
}

@media (min-width: 320px) and (max-width: 800px) {
    .payment__list-li {
        border: 0;
    }
}